{% extends "base.html"%}
{% block head%}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
{%block content%}
<!-- From Uiverse.io by Yaya12085 -->
<div class="form-container">
	<p class="title">Login</p>
	<form class="form" method="POST">
		<div class="input-group">
			<label for="username">Username / Email</label>
			<input type="text" name="username" id="username" placeholder="Username / Email">
		</div>

		<div class="input-group">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" placeholder="">
			<div class="forgot">
				<a rel="noopener noreferrer" href="#">Forgot Password ?</a>
			</div>
		</div>
		<button class="sign">Sign in</button>
	</form>
	<div class="social-message">
		<div class="line"></div>
	</div>
	<p class="signup">Don't have an account?
		<a rel="noopener noreferrer" href="/register" class="">Sign up</a>
	</p>
</div>
{% endblock %}