{% extends "base.html"%}
{% block content %}
<div class="profile-content">
    <div class="profile-frame">
        <div class="profile-frame-left">
            <div class="profile-frame-left-top">
                <div class="profile-frame-left-top-1">
                    <img src="{{ url_for('static',filename='img/logo.svg') }}">
                </div>
                <div class="profile-frame-left-top-2">
                    <div class="head-text">
                        <div class="header-text-grey">
                            Имя пользователя:
                        </div>
                        <div class=header-text-white">
                            {{session["username"]}}
                        </div>

                    </div>
                    <div class="divider-small"></div>
                    <div class="name-email-card">
                        <div class="header-text-grey">
                            Адрес почты:
                        </div>
                        <div class=header-text-white">
                            {{session["email"]}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-frame-left-bottom">
                <div class="h2 text-nowrap" id="curr-tournaments">Предстоящие игры</div>
                {% if tournament_list %}
                    {% for tournament in tournament_list %}
                    <div class="tournament-card">
                        <div class="tournament-name" href="" >{{tournament.tournament_name}}</div>
                        <div class="divider-small"></div>
                        <div class="next-game-box">
                            <div>Следующая игра:</div>
                            <div class="next-game-text">{{tournament.game_name}} {{tournament.game_time}}</div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="header-text-grey flex-grow-1 align-content-center">Тут пока пусто</div>
                {% endif %}
            </div>
        </div>
        <div class="profile-frame-right">
            {% if user %}
                <div class="profile-frame-right-accinfo">
                    <div>
                        <img src="https://cdn.communitydragon.org/latest/profile-icon/">
                    </div>
                </div>
            {% else %}
                <a href="/connect">
                    <button type="button" class="btn btn-outline-secondary" href="/connect">
                        Привязать Riot аккаунт
                    </button>
                </a>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}