{% extends "base.html"%}
{% block content %}
    <div class="d-flex flex-wrap align-items-center flex-column min-vh-100 justify-content-center ">
        <form class="form" method="POST">
            <a href="/connect">
                <button type="button" class="btn btn-outline-secondary">
                    Привязать Riot аккаунт
                </button>
            </a>
        </form>
        <div class="d-flex">
            <button type="button" class="btn btn-outline-secondary"></button>
        </div>
    </div>
{% endblock %}