{% extends "base.html"%}

{% block content %}
    <div class="form-container">
        <p class="title">Регистрация</p>
        <form class="form" method="post" action="{{ url_for('register') }}">
            {{ form.hidden_tag() }}
            <div class="input-group1">
                {{ form.email.label }}
                {{ form.email(class="input") }}
            </div>
            <div class="input-group1">
			    {{ form.username.label }}
                {{ form.username(class="input") }}
            </div>
            <div class="input-group1">
                {{ form.password.label }}
                {{ form.password(class="input") }}
            </div>
            <div class="input-group1">
                {{ form.password_repeat.label }}
                {{ form.password_repeat(class="input") }}
            </div>
            {{ form.submit(class="btn register-submit") }}
        </form>
</div>
{% endblock %}