{% extends "base.html" %}
{% block content %}
<div class="profile-content">
    <div class="profile-frame">
        <div class="profile-details">
            <div class="profile-user">
                <div class="profile-user-icon shadow-rb">
                    <img src="https://cdn.communitydragon.org/latest/profile-icon/{{ user.riot_user.icon_id }}" alt="Logo">
                </div>
                <div class="profile-user-info shadow-rb">
                    <div class="head-text">
                        <div class="header-text-grey">
                            Имя пользователя:
                        </div>
                        <div class="header-text-white">
                            {{ user.username }}
                        </div>
                    </div>
                    <div class="divider-small"></div>
                    <div class="name-email-card">
                        <div class="header-text-grey">
                            Адрес почты:
                        </div>
                        <div class="header-text-white">
                            {{ user.email }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-game-list shadow-rb">
                <div class="h2 text-nowrap" id="curr-games">Ближайшие игры</div>
                {% if game_list %}
                    {% set tournaments = game_list|map(attribute='tournament')|unique %}
                    {% for tournament in tournaments %}
                        {% set closest_game = tournament.get_closest_game() %}
                        {% if closest_game %}
                        <div class="tournament-card shadow-rb">
                            <a href="/tournaments/{{ tournament.id }}">
                                <div class="tournament-name">{{ tournament.tournament_name }}</div>
                            </a>
                            <div class="divider-small"></div>
                            <div class="next-game-box">
                                <div>Следующая игра:</div>
                                <div class="next-game-text">
                                    <div class="next-game-text-name">{{ closest_game.game_name }}</div>
                                    <div class="next-game-text-time">{{ closest_game.formatted_game_time() }}</div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="header-text-grey flex-grow-1 align-content-center">Тут пока пусто</div>
                {% endif %}
            </div>
        </div>
        <div class="profile-riot-account shadow-rb">
            {% if user.riot_user %}
                {% set rank_image = user.riot_user.solo_tier|lower() + '.png' %}
                <div class="profile-accinfo">
                    <div class="profile-accinfo-icon">
                        <img src="{{ url_for('static', filename='img/' ~ rank_image) }}" alt="{{rank_image}}">
                    </div>
                    <div class="divider-small"></div>
                    <div class="gap-1rem"></div>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="header-text-grey">RiotID:</div>
                        <div class="header-text-white">{{ user.riot_user.riot_id }}</div>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="header-text-grey">WR:</div>
                        {%if user.riot_user.solo_wins and user.riot_user.solo_losses%}
                        <div class="header-text-white">{{ (user.riot_user.solo_wins / (user.riot_user.solo_wins + user.riot_user.solo_losses) * 100) | round(1) }}%</div>
                        {%endif%}
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="header-text-grey">Region:</div>
                        <div class="header-text-white">{{ user.riot_user.region }}</div>
                    </div>

                </div>
            {% else %}
                <a href="/connect">
                    <button type="button" class="btn btn-outline-secondary">
                        Привязать Riot аккаунт
                    </button>
                </a>
            {% endif %}
        </div>

        <div class="profile-teams shadow-rb">
            <h2>Команда</h2>
            {% if user.team %}
                <div class="team-info d-flex flex-column align-items-center">
                    <h3>Команда: {{ user.team.team_name }}</h3>
                    <p>Капитан: {{ user.team.captain.username }}</p>
                        {% for member in user.team.members %}
                        <div class="team-member">
                            <div>
                                <img src="https://cdn.communitydragon.org/latest/profile-icon/{{ member.riot_user.icon_id }}" alt="Icon" width="24" height="24">
                                {{ member.username }}
                            </div>    
                        </div>

                        {% endfor %}
                    {% if user.team.captain_id == user.id %}
                    <div class="input-group" >
                    <button type="button" id="generate-link-btn" class="btn btn-outline-secondary" onclick="generateTeamLink('{{ user.team.id }}')">Generate Team Link</button>
                    <input type="text" id="team-link" value="" class="form-control" readonly></input>
                    </div>
                    {% endif %}
                </div>
            {% else %}
                <a href="{{ url_for('routes.create_team') }}">
                    <button type="button" class="btn btn-primary">Create Team</button>
                </a>
            {% endif %}
        </div>
    </div>
</div>

<script type="module">
    import * as bootstrap from 'bootstrap'

    let popover = null;

    function showCopiedMessage() {
        if (popover) {
            popover.dispose();
        }
        
        const button = document.getElementById('generate-link-btn');
        popover = new bootstrap.Popover(button, {
            content: 'Copied!',
            trigger: 'manual',
            placement: 'top'
        });
        
        popover.show();
        
        setTimeout(() => {
            popover.hide();
        }, 2000);
    }

    function generateTeamLink(teamId) {
        fetch(`/api/generate_team_link/${teamId}`)
            .then(response => response.json())
            .then(data => {
                var copyText = document.getElementById("team-link");

                if (data.link) {
                    copyText.value = data.link;
                    
                    // Copy the text inside the text field
                    navigator.clipboard.writeText(copyText.value).then(() => {
                        showCopiedMessage();
                        // Select text after copying and showing popover
                        copyText.focus();
                        copyText.select();
                        copyText.setSelectionRange(0, 99999); // For mobile devices
                    });
                } else {
                    copyText.value = data.error;
                    copyText.focus();
                    copyText.select();
                }
            });
    }

    // Make generateTeamLink available globally
    window.generateTeamLink = generateTeamLink;
</script>
{% endblock %}