{% extends "base.html" %}

{% block content %}
<div class="tournament-content m-4">
    <div class="tournament-frame">
        {% if tournament_list %}
            {% for tournament in tournament_list %}
                {% set closest_game = tournament.get_closest_game() %}
                {% if closest_game %}
                <div class="tournament-card">
                    <a href="/tournaments/{{ tournament.id }}">
                        <div class="tournament-name">{{ tournament.tournament_name }}</div>
                    </a>
                    <div class="divider-small"></div>
                    <div class="next-game-box">
                        <div>Следующая игра:</div>
                        <div class="next-game-text">
                            <div class="next-game-text-name">{{ closest_game.game_name }}</div>
                            <div class="next-game-text-time">{{ closest_game.formatted_game_time() }}</div>
                        </div>
                    </div>
                    {% if current_user.is_authenticated %}
                    <form action="{{ url_for('routes.apply_to_tournament', tournament_id=tournament.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        <button type="submit" class="btn btn-primary">Apply to Tournament</button>
                    </form>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="header-text-grey flex-grow-1 align-content-center">Тут пока пусто</div>
        {% endif %}
    </div>
</div>
{% endblock %}