{% extends "base.html"%}

{% block content %}
<div class="tournament-overview">
    <h1>{{ tournament.tournament_name }}</h1>
    <div class="upcoming-games">
        <h2>Upcoming Games</h2>
        {% if upcoming_games %}
            <ul class="list-group-flush">
                {% for game in upcoming_games %}
                    <li class="list-group-item">
                        <div class="game-details">
                            <h3>{{ game.game_name }}</h3>
                            <p><strong>Time:</strong> {{ game.formatted_game_time() }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No upcoming games.</p>
        {% endif %}
    </div>
</div>
{% endblock %}